<div class="text-center container" id="main-content">
	<div class="jumbotron text-center">
		<div class="form-group">
			<div>
				<button type="submit no-border" id="start_button">
					<img src="/assets/Ubeer.png" alt="" class="beer round"></button>
				</div>
			</div>
		</form>
	</div>

	<h5 class="example"> Ex: "I want a six pack of budwesier"</h5>
	<hr>
</div>